loaders/
build/
nginx-prod/build/
log/
recipes/
backend/geoserver/data/
.vagrant
.*swp
*.pyc
*.pyo
.ropeproject
.DS_Store
__pycache__
*.egg-info
.vscode/
dist/
node_modules/
web-variables.env
data/
dev/*
abs-datapack-parse/
.gitattributes
notes.txt
data-loader/
keys/
notes.txt
