*.egg-info
*.pyc
*.pyo
.*swp
.DS_Store
.gitattributes
.mypy_cache
.ropeproject
.vscode/
__pycache__
build/
data/
dev/*
dist/
keys/
loaders/
log/
nginx-prod/build/
node_modules/
web-variables.env
notes-*.md