version: "2"
services:
  dbdata:
    image: shongololo/postgis:2.4
    entrypoint: /bin/bash
    volumes:
      - /postgresql/9.6/main
  db:
    image: shongololo/postgis:2.4
    ports:
      - "5432:5432"
    environment:
      - PG_PASSWORD=postgres
      - DB_NAME=ealgis
    volumes:
      - ./data-loader:/data-loader

      # FOR DEVELOPMENT ONLY
      # Enable this mapping to inject the tweaked postgresql.conf file into our PostgreSQL container.
      # NB: PostgreSQL MUST already be initialised with at least one database before you enable this.
      # - ./db/postgresql.conf:/var/lib/postgresql/data/postgresql.conf

      # Enable this mapping and create ./dev/pg_log/ to get easier access to PostgreSQL's log files for debugging.
      # - ./dev/pg_log/:/var/lib/postgresql/data/pg_log/
    volumes_from:
      - dbdata
  frontend:
    build: frontend/
    command: webpack
    volumes:
      - ./frontend:/frontend:delegated
      - ./nginx/nginx:/nginx
    ports:
      - "35729:35729"
  memcached:
    image: memcached
    expose:
      - "11211"
  web:
    build: django/
    command: runserver
    volumes:
      - ./django/:/app:delegated
      - ./frontend:/frontend:delegated
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=ealgis
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
    env_file:
      - web-variables.env
    depends_on:
      - db
      - memcached
      - frontend
  nginx:
    build: nginx/
    volumes:
      - ./nginx:/app
      - ./nginx/web:/var/www/html
    depends_on:
      - web
    ports:
      - "8443:443"
