version: "2"
services:
  datastore:
    image: mdillon/postgis:10-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=datastore
#   volumes:
#
# FOR DEVELOPMENT ONLY
# Enable this mapping to inject the tweaked postgresql.conf file into our PostgreSQL container.
# NB: PostgreSQL MUST already be initialised with at least one database before you enable this.
#     - ./db/postgresql.conf:/var/lib/postgresql/data/postgresql.conf
#
# Enable this mapping and create ./dev/pg_log/ to get easier access to PostgreSQL's log files for debugging.
#     - ./dev/pg_log/:/var/lib/postgresql/data/pg_log/
  db:
    image: mdillon/postgis:10-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ealgis
  memcached:
    image: memcached
    expose:
      - "11211"
  web:
    build: django/
    command: build
    volumes:
      - ./django/:/app:delegated
      - ./build/:/build:delegated
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=ealgis
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DATASTORE_HOST=datastore
      - DATASTORE_PORT=5432
      - DATASTORE_NAME=datastore
      - DATASTORE_USERNAME=postgres
      - DATASTORE_PASSWORD=postgres
    env_file:
      - web-variables.env
    depends_on:
      - db
      - datastore
      - memcached
