data:
  image: debian:jessie
  volumes:
    - .:/app
    - ./data/dev:/data
    - ./data/recipes:/recipes

# shares volume with other images so we can use COPY
db:
  image: mdillon/postgis:9.4
  environment:
    - POSTGRES_USER=ealgis
    - POSTGRES_PASSWORD=ealgis
  ports:
    - ":5432"
  volumes:
    - ./data/postgis:/var/lib/postgresql/data
  volumes_from:
    - data

uwsgi:
  build: backend/
  volumes_from:
    - data
  links:
   - db
  ports:
    - "9100:9100"

nginx:
  build: frontend/
  volumes_from:
    - data
  links:
    - uwsgi
  ports:
    - "8443:443"
