version: "3"
services:
  datastore:
    image: mdillon/postgis:10-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=datastore
  db:
    image: mdillon/postgis:10-alpine
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ealgis
  memcached:
    image: memcached
  uwsgi:
    image: ealgis/uwsgi:latest
    command: uwsgi
    volumes:
      - ./log/:/var/log:delegated
    environment:
      - MEMCACHED_LOCATION=memcached:11211
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=ealgis
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DATASTORE_HOST=datastore
      - DATASTORE_PORT=5432
      - DATASTORE_NAME=datastore
      - DATASTORE_USERNAME=postgres
      - DATASTORE_PASSWORD=postgres
    env_file:
      - web-variables.env
    depends_on:
      - db
      - datastore
      - memcached
  nginx-prod:
    image: ealgis/nginx:latest
    volumes:
      - ./keys/:/app/keys/:delegated
    depends_on:
      - uwsgi
    ports:
      - "443:443"
