version: "3"
services:
  datastore:
    image: mdillon/postgis:10-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=datastore
#   volumes:
#
# FOR DEVELOPMENT ONLY
# Enable this mapping to inject the tweaked postgresql.conf file into our PostgreSQL container.
# NB: PostgreSQL MUST already be initialised with at least one database before you enable this.
#     - ./db/postgresql.conf:/var/lib/postgresql/data/postgresql.conf
#
# Enable this mapping and create ./dev/pg_log/ to get easier access to PostgreSQL's log files for debugging.
#     - ./dev/pg_log/:/var/lib/postgresql/data/pg_log/

  dataloader:
    image: ealgis/ealgis-ingest-base:latest
    volumes:
      - ./loaders:/app
    environment:
      - DB_HOST=datastore
      - DB_PORT=5432
      - DB_NAME=postgres
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
    depends_on:
    - datastore

