version: "3"
services:
  datastore:
    image: mdillon/postgis:10-alpine
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=datastore
#   volumes:
#
# FOR DEVELOPMENT ONLY
# Enable this mapping to inject the tweaked postgresql.conf file into our PostgreSQL container.
# NB: PostgreSQL MUST already be initialised with at least one database before you enable this.
#     - ./db/postgresql.conf:/var/lib/postgresql/data/postgresql.conf
#
# Enable this mapping and create ./dev/pg_log/ to get easier access to PostgreSQL's log files for debugging.
#     - ./dev/pg_log/:/var/lib/postgresql/data/pg_log/
  db:
    image: mdillon/postgis:10-alpine
    ports:
      - "127.0.0.1:5433:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ealgis
  frontend:
    build: frontend/
    command: webpack
    volumes:
      - ./frontend:/frontend:delegated
      - ./nginx-dev/nginx:/nginx
    ports:
      - "127.0.0.1:35729:35729"
  memcached:
    image: memcached
    expose:
      - "11211"
  web:
    build: django/
    command: runserver
    volumes:
      - ./django/:/app:delegated
      - ./frontend:/frontend:delegated
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=ealgis
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DATASTORE_HOST=datastore
      - DATASTORE_PORT=5432
      - DATASTORE_NAME=datastore
      - DATASTORE_USERNAME=postgres
      - DATASTORE_PASSWORD=postgres
    env_file:
      - web-variables.env
    depends_on:
      - db
      - datastore
      - memcached
      - frontend
  nginx-dev:
    build: nginx-dev/
    volumes:
      - ./nginx-dev:/app
      - ./nginx-dev/web:/var/www/html
      - ./frontend:/frontend:delegated
    depends_on:
      - web
    ports:
      - "127.0.0.1:443:443"
