# Ealgis
ENVIRONMENT=DEVELOPMENT
EALGIS_BASE_URL=https://localhost
EALGIS_SITE_NAME=Local Dev
EALGIS_SITE_CONTACT_EMAIL=example@example.com
EALGIS_PRIVATE_SITE=1
DEFAULT_MAP_POSITION_LAT=-27.121915157767
DEFAULT_MAP_POSITION_LON=133.21253738715
DEFAULT_MAP_POSITION_ZOOM=4

# Django
SECRET_KEY=
CORS_DOMAIN=localhost
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
SOCIAL_AUTH_TWITTER_KEY=
SOCIAL_AUTH_TWITTER_SECRET=
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=

# Mailgun
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_FROM=Ealgis Example <example@example.com>

# Sentry.io Error Logging
RAVEN_URL=

# Google and Mapbox
GOOGLE_ANALYTICS_UA=
GOOGLE_MAPS_API_KEY=
MAPBOX_API_KEY=

# Basemaps
# MAPBOX, OSM, STAMEN, or THUNDERFOREST
EALGIS_BASEMAP_PROVIDER=STAMEN
# Note: If using Mapbox then MAPBOX_API_KEY must also be set per above
THUNDERFOREST_API_KEY=
# mobile-atlas or neighbourhood
THUNDERFOREST_MAP_STYLE=