ENVIRONMENT=DEVELOPMENT
EALGIS_BASE_URL=https://localhost:8443
EALGIS_SITE_NAME=Local Dev
EALGIS_SITE_CONTACT_EMAIL=example@example.com
EALGIS_CONFIG_PRIVATE_SITE=1
RAVEN_URL=
#SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
#SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
#SOCIAL_AUTH_TWITTER_KEY=
#SOCIAL_AUTH_TWITTER_SECRET=
#SOCIAL_AUTH_FACEBOOK_KEY=
#SOCIAL_AUTH_FACEBOOK_SECRET
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_FROM=