Django==2.1.2
psycopg2-binary==2.7.5
djangorestframework==3.8.2
django-cors-headers==2.4.0
django-model-utils==3.1.2
djangorestframework-jsonp==1.0.2
defusedxml==0.5.0
SQLAlchemy==1.2.12
GeoAlchemy2==0.5.0
pyparsing==2.2.2
requests==2.19.1
python-memcached==1.59
mercantile==1.0.4
social-auth-app-django==2.1.0
social-auth-core==1.7.0
raven==6.9.0
uwsgi==2.0.17.1
zipstream==1.1.4
https://github.com/ealgis/ealgis-data-schema/archive/1.1.1.tar.gz
https://github.com/ealgis/ealgis-common/archive/0.6.0.tar.gz
