Django==1.11
psycopg2==2.7.1
djangorestframework==3.6.2
cairocffi==0.8.0
git+git://github.com/tiran/defusedxml
SQLAlchemy==1.2.6
GeoAlchemy2==0.4.2
pyparsing==2.1.10
requests==2.13.0
python-memcached==1.58
mercantile==0.9.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
https://github.com/ealgis/ealgis-data-schema/archive/1.1.0.tar.gz
https://github.com/ealgis/ealgis-common/archive/0.2.4.tar.gz
