@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body,
#ealgis,
.page {
    height: 100%; /* needed for proper layout */
    font-family: "Roboto", sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
}

p {
    margin-bottom: 1em;
}

.page {
    display: flex;
    flex-direction: column;
}

.page-header {
    flex: 0 0 auto;
    background-color: #dcdcdc;
}

.page-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-nav {
    order: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-main-content {
    overflow: auto;
}

@media (min-width: 768px) {
    .page-content {
        flex-direction: row;
        flex: 1;
    }
    .page-main-content {
        flex: 1;
    }
    .page-main-content > div,
    .page-main-content > div > div {
        height: 100%;
    }
    .page-nav {
        /* Third param is the width of the column */
        flex: 0 0 24em;
    }
}

.page-footer {
    flex: 0 0 auto;
    background-color: #dcdcdc;
}

.ol-control button {
    background-color: #673ab7 !important; /* deepPurple500 */
}

.ol-control button:focus {
    outline-color: #9575cd !important; /* deepPurple300 */
}
