version: '2'
services:
  db:
    image: mdillon/postgis:9.6
    ports:
      - "5432:5432"
  dataloader:
    build: ./
    volumes:
      - ./:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=postgres
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
    depends_on:
    - db